main 
{
    min-height:100vh;

    padding-top: 6%;
    background-color: #fff;
    margin: 0rem 2rem;
    padding-top:7rem;

    h1,p 
    {
        color: #000;
    }

    p {
        font-weight: 300;
    }


    .filtrador{
        background-color: rgba( 0 0 0 / .1);
        padding:1rem;
        border-radius: .3rem;

        .campos {

            form {
                width: 100%;
            }
        }
    }

    .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info_regimen {
            display: flex;
            flex-direction: column;
            p {
                color:#000;
                font-size:20px;
                font-weight: bold;
                display:flex;
                flex-direction: row;
                justify-content:space-between;
                gap:2rem;
                .descripcion {
                    font-weight: 100;
                    color:rgba(0 0 0 / .7)
                    
                }
            }

            .separador {
                background-color: #fff;
                height:2px;
                opacity: 0.5;
            }

            .guid {
                padding-top:1rem;
            }
        }
    }
}

.preview-pdf {
    width: 100%;
    height: 700px;
}