.navbar { position: unset; }

.logistica 
{
    margin-top:5%;
    width: 95%;
    border: 1px solid rgba( 0 0 0 / .2);
    border-radius: 3px;
    background: rgb(255, 255, 255);

    #procesoEspera:hover, 
    #procesoProgreso:hover 
    {
        cursor: pointer;
    }

    .logistica_opciones 
    {
        .botonClose 
        {
            position:relative;

            img
            {
                position:absolute;
                right:2%;
                padding-top:1%;
                width: 3%;
            }
        }

        background-color:rgba( 0 0 0 / .1);
        border-radius: 10px;

        ul
{
            padding: 0px;

            li {
               border-radius: 10px;               
               margin:0 auto;
               margin-bottom:5px;
            }

            a {
                width: 100%;
               color:rgb(0,0,0);
               font-weight:400;
            }
        }
    }

    .tabla {

        .botonProceso {
            color: rgb(255, 255, 255);
            font-weight:bold;
            background-color:rgb(33 138 214)
        }

        table {
            border-radius:10%;

            tr {
               

               .seccion-opcion{
                   
               }
            }
        }
    }
}