.AccessDenage {
    background-image: url(./../images/fae.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: top center;
    background-position-y: -200%;
    z-index:9;

    .degradado 
    {
        background-color: rgba( 0 0 0 / .2);
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        z-index:-9;
    }
}

.container 
{
    
}