

.Page-Form {
    width:70%;
    min-height: 100vh;
    background:#fff;
    margin:auto;
    .espacio{
           
            height:60px;
        }
    & h5{
        color:#ccc;
        font-size: 18px;
        font-weight:normal;
    }
    .cont-form{
        padding:50px;
        box-sizing:content-box;   
        border-radius:5px;
        & form{
                  .etiqueta-form{
                                    width:100%;
                                    display:flex;
                                    justify-content:space-between;
                                    padding:0 1em 0 0;
                                }
              }
    }
}

.no-completo{
    color:#999;
}
.completo{
    color:rgb(25,135,84);
}

.btn{
    font-size: 15px
}

.preview-pdf{
    width:100%;
    height:700px;
}