.table-container {
    max-height: 400px; /* Ajusta según sea necesario */
    overflow-y: auto; /* Agrega scroll vertical */
    border: 1px solid #ddd; /* Borde del contenedor */
    border-radius: 5px; /* Bordes redondeados */
}

    .table-container::-webkit-scrollbar {
        width: 12px; /* Ancho del scrollbar */
    }

    .table-container::-webkit-scrollbar-thumb {
        background-color: #888; /* Color del thumb */
        border-radius: 10px; /* Bordes redondeados del thumb */
    }

        .table-container::-webkit-scrollbar-thumb:hover {
            background-color: #555; /* Color del thumb al pasar el ratón */
        }

.table {
    margin: 0;
}
