
@{
    Layout = "_Layout3";
    ViewData["Title"] = "Denegado";
}

<div class="pt-5">
    <h1 class="text-center">Acceso Denegado</h1>
    <p class="text-center fw-bold fs-5 bg-warning p-2 border-4" style="border-radius:10px">
        No tienes los permisos necesarios para acceder a este contenido.
        <a href="~/Formulario/Login">Regresar </a>⬅️
    </p>
</div>

